{% extends 'base.html'%}
{% block title %} | Home {% endblock title %}
{% block content %}
<!-- latest products -->
<h1>LATEST PRODUCTS</h1>
<div class="container-fluid m-3">
  <div class="row">
    {% if dlatest %}
    {% for latest in dlatest %}
    <div class="col-12 col-sm-6 col-lg-3 w-25">
      <div class="card">
          <img src="{{latest.image.url}}" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">{{latest.category}}</h5>
            <p class="card-text">{{latest.price}}</p>
            <a href="#" class="btn btn-primary">{{latest.title}}</a>
          </div>
        </div>
  </div>
    {% endfor %}
    {% endif %}
      
  </div>
</div>
<!-- best sellers -->
<h1>BEST SELLERS</h1>
<div class="container-fluid m-3">
  <div class="row">
    {% if bseller %}
    {% for seller in bseller %}
    <div class="col-12 col-sm-6 col-lg-3 w-25">
      <div class="card">
          <img src="{{seller.image.url}}" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">{{seller.category}}</h5>
            <p class="card-text">{{seller.price}}</p>
            <a href="#" class="btn btn-primary">{{seller.title}}</a>
          </div>
        </div>
  </div>
    {% endfor %}
    {% endif %}
      
  </div>
</div>

{% endblock content %}